@import 'material.min.css'
@import 'material-icons.css'
@require 'fonts'

.mdl-layout__content
  padding: 32px
  color #757575 !important
  background-color #efefef

  .mdl-button
    margin: 32px

p
  margin-bottom 32px

