@import 'grid_settings';

$width: ($column-width * $columns) + ($gutter * ($columns - 1));

@mixin grid {
  max-width: $width;
  margin: 0px auto;
  padding: 0 $padding 0 $padding;
}

@mixin column($column) {
  $grid: ($column-width * $column) + ($gutter * ($column - 1));

  $grid: ($grid / $width) * 100%;
  $gutter-percentage: ($gutter / $width) * 100%;

  width: $grid;
  float: left;
  margin-left: $gutter-percentage;
  background-color: pink;
  height: 100px;
}
