$fa-font-path: '../node_modules/font-awesome/fonts';

@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/normalize.css/normalize.css';
@import 'grid';

body {
  font-family: sans-serif;
}

.fa-flash {
  //color: #FF800D;
}

.fa-circle-o {
color: #4183c4;
}

.fa-circle {
color: #FF800D;
}

header {
  @include column(12);
}

main {
  @include grid;
  &:first-child {
    margin-left: 0px;
    clear: left;
  }
}

article {
  @include column(9);
  background-color: #eee;
  height: 100px;
  &:first-child {
    margin-left: 0px;
    clear: left;
  }
}

section {
  @include column(3);
  background-color: #eee;
  height: 100px;
}
