$fa-font-path: '../node_modules/font-awesome/fonts';

@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/normalize.css/normalize.css';
@import 'grid';

body {
  font-family: sans-serif;
}


header {
  @include column(12);
}

main {
  @include grid;
  &:first-child {
    margin-left: 0px;
    clear: left;
  }
}

article {
  @include column(1);
  background-color: #eee;
  height: 100px;
  &:first-child {
    margin-left: 0px;
    clear: left;
  }
}

section {
  @include column(3);
  background-color: #eee;
  height: 100px;
}
